/* .box{
    width: 20%;
    height: 10vh;
    background-color: red;
} */




/* .box-one,.box-two{
    width: 100px;
    height: 100px;
    display: inline-block;
}
.box-one{
    background-color: red;
}
.box-two{
    background-color: green;
} */



/* .myprop{
    color: red;
    font-family: sans-serif;
    font-style: italic;
} */

/* p{
    display: inline;
} */



