/* .info{
    color: aquamarine;
    background-color: black;
}

.colorfull{
    color: yellowgreen;
    background-color: brown;
} */


/* menu{
    transform: translateX(-300px);
    transition: .5s;
    border-radius: 20px;
    width: 20%;
    height: 30vh;
    background-color: black;
    padding: 20px;
    ul{
        li{
            color: aquamarine;
        }
    }
}

.open{
    
    transform: translateX(0px);
} */


/* .accardion{
    transition: .5s;
    width: 40%;
    height: 50px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #000;
    .title{
        border-radius: 10px;
        width: 100%;
        height: 50px;
        background-color: #000;
        color: aquamarine;
    }
    .desc{
        width: 100%;
        height: 250px;
        overflow: scroll;
    }
    
} */



.red{
    transition: .5s;
    color: red;
}


.dark{
    li{
        color: antiquewhite;
    }
}

.light{
    li{
        color: black;
    }
}